@import "../../scss/variables";
@import "../../scss/typography";

.app-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__desc {
    @include medium-text;
    color: $primary-text;
  }
  &__link {
    @include medium-text;
    color: $color-primary;
    text-decoration: none;
  }
}
