@import "../../scss/variables";
@import "../../scss/typography";

.app-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__desc {
    @include small-text;
    color: $primary-text;
  }
  &__link {
    @include small-text;
    color: $secondary-text;
    text-decoration: none;
    transition: background-color 0.3s ease;
    &:hover {
      color: $color-primary;
    }
  }
}
