$small: 600px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1440px;

@mixin small {
  @media (min-width: $small) {
    @content;
  }
}

@mixin medium {
  @media (min-width: $medium) {
    @content;
  }
}

@mixin large {
  @media (min-width: $large) {
    @content;
  }
}

@mixin extra-large {
  @media (min-width: $extra-large) {
    @content;
  }
}

@mixin extra-extra-large {
  @media (min-width: $extra-extra-large) {
    @content;
  }
}