$background-primary: var(--background-primary);
$primary-font-family: var(--primary-font-family);
$primary-text: var(--primary-text);
$muted-text: var(--muted-text);
$secondary-text: var(--secondary-text);
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-danger: var(--color-danger);
$color-warn: var(--color-warn);
$color-input-border: var(--color-input-border);
$color-border: var(--color-border);
$color-disabled-input: var(--color-disabled-input);
$color-static-white: var(--color-static-white);